@import '../../../scss/helpers.scss';

.Card {
    color: $grey;       
    display: flex;
    align-items: center;
    text-transform: none;
    &--main {
        color: $blue0;         
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 3rem;
        padding: 0 0.5rem;
        &--unlocked {
            color: $grey
        }
        button {
          color: $green1;
          border: none;
          background: none;
          cursor: pointer;
          padding: 0 0.5rem;
          i {
            font-size: 1.5rem;  
            @include bp(small){
                font-size: 2rem;   
            }            
          }
          &:focus {
              outline: none;
          }
          &:active {
              color: $blue0;
          }
        }
        @include bp(small){
            font-size: 2rem;
        }   
    }    
} 