@import '../../../scss/helpers.scss';

.StageThree {
    .panel-wrapper {
        display: flex;
        justify-content: center;
        @include bp(medium){
          flex-wrap: wrap;
        }   
    }
}
