@import '../../scss/helpers.scss';

.Header {
    h1 {
        font-size: 6rem;
        margin: 1.5rem;
        font-weight: 100;
        color: $blue0;
        @include bp(small){
            font-size: 4rem;
        }         
        @include bp(super-small){
            font-size: 3rem;
        }       
    }
}
