.StageOne .linksWrapper {
  display: flex;
  justify-content: space-around; }
  .StageOne .linksWrapper .anchor {
    display: inline-block;
    flex-basis: 150px;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    background: #3f65ec;
    color: white;
    font-weight: 700;
    transition: all 0.2s; }
    .StageOne .linksWrapper .anchor:hover {
      cursor: pointer;
      background: #ec3f3f; }
    .StageOne .linksWrapper .anchorClicked {
      background: green; }
