.StageOne {
  .links-wrapper {
    display: flex;
    justify-content: space-around;
    .anchor {
      display: inline-block;
      flex-basis: 150px;
      text-transform: uppercase;
      padding: 10px;
      margin: 10px;
      background: #3f65ec;
      color: white;
      font-weight: 700;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        background: #ec3f3f;
      }
      &--clicked {
        background: green;
      }
    }
  }
}
