$pink0: #ff4ba4;
$blue0: #4ba4ff;
$green0: #a4ff4b;
$pink1: #a50052;
$blue1: #0052a5;
$green1: #52a500;
$pink2: #6e0036;
$blue2: #00366e;
$green2: #366e00;
$pink3: #520029;
$blue3: #002952;
$green3: #295200;
$pink4: #420021;
$blue4: #002142;
$green4: #214200;
$grey: grey;
