@import '../../../scss/helpers.scss';

.StageOne {
  .links-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-around;
    max-width: 600px;
    .anchor {
      border-radius: 1.5rem;
      flex-basis: 150px;
      text-transform: uppercase;
      padding: 0.8rem;
      margin: 1rem 0.8rem;
      color: $pink0;
      border: solid 1px $grey;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        color: $blue0;
        border: solid 1px $blue1;
      }
      &--clicked {
        color: $green1;
        border: solid 1px $green2;
      }
    }
    @include bp(small){
      flex-wrap: wrap;
    }
  }
}
